app-suggestion-caroussel {
    height: 64vh;
    display: block;
}

.no-results {
    color: rgb(180, 180, 180);
    text-align: center;
    padding-top: 20vh;
    font-size: 1.2em;
    line-height: 2; 
  }