<div class="image-grid">
  <ng-container *ngIf="films.length > 0; else noResults">
    <div class="grid-item" *ngFor="let film of films" >
      <img src="https://image.tmdb.org/t/p/original{{film.poster_path}}">
      <div class="grid-item-footer">
        <h4 title="{{film.title}}">{{film.title}}</h4>
        <app-add-rating [rating]=film.rating></app-add-rating>
      </div>
    </div>
  </ng-container>
  <ng-template #noResults>
    <div class="no-results">
      No films in your ratings <span class="red-text">yet</span> <br>
      Click on a film, rate it and come back here to see your <span class="red-text">ratings</span>
    </div>
  </ng-template>
</div>
