<div class="image-grid">
  <ng-container *ngIf="films.length > 0; else noResults">
    <div class="grid-item" *ngFor="let film of films" >
      <img src="https://image.tmdb.org/t/p/original{{film.poster_path}}">
      <div class="grid-item-footer">
        <h4>{{film.title}}</h4>
        <app-add-rating [rating]=film.rating></app-add-rating>
      </div>
    </div>
  </ng-container>
  <ng-template #noResults>
    <div class="no-results">no results for this search, <span class="red-text">sorry...</span></div>
  </ng-template>
</div>
