mat-grid-list {
  height: 90vh !important;
}

.delete-button {
  display: none;
  position: absolute;
  border: none;
  padding: 5px 10px;
}

 img {
  margin-bottom: 3vh;
  max-width: 100%;
  max-height: 100%;
   transition: filter 0.5s; /* Ajoutez une transition pour une animation en douceur */

 }
img:hover {
  filter: grayscale(100%);
}

mat-grid-tile-footer {
  margin-bottom: 1.5vh;
  margin-left: 5vh;
}

.no-results {
  color: white;
  text-align: center;
  padding-top: 20vh;
  font-size: 1.2em;
}
.center{
  display : flex;
  justify-content: center;
}

img:hover + .delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .rating-card__ratings {
  display: flex;
  justify-content: space-between;
}


button:active{
  background: orange;
  color: white;
}


.rating-card__btn:hover {
  color: orange;
  background: white;
}



