<ng-container class="holder" >
  <div class="container">
      <mat-icon *ngFor="let icon of maxRatingArr; let index=index"
                (mouseenter)="HandleMouseEnter(index)"
                (mouseleave)="HandleMouseLeave()"
                (click)="Rating(index)"
                [ngClass]="{checked:SelectedStar>index}">star</mat-icon>
    <mat-icon [ngStyle]="{'cursor': (checked ? 'not-allowed' : 'initial'),
                      'display ':(checked ?'orange' :'none' )}"
              class="isRated">done</mat-icon>
  </div>
</ng-container>
