  .product-home {
    height: 100%;
  }

  .arrow{
    background-color: transparent;
  }

  .product-suggestion {
    height: 100%;
    margin-top: 6vh;
  }

  .container-fluid-home {
    top: 12vh;
    position: relative;
    white-space: nowrap;
  }

  .container-fluid-suggestion {
    position: relative;
    white-space: nowrap;
  }

  .prev {
    z-index: 2;
    position: absolute;
    transform:translateY(-25vh);
    left: 22%;
    cursor: pointer;
  }

  .prev:hover {
    color: rgb(218, 57, 57);
  }

  .next {
    z-index: 2;
    position: absolute;
    transform:translateY(-25vh);
    right: 2%;
    cursor: pointer;
  }

  mat-icon {
    color : floralwhite;
    font-size: 90px;
    height: 90px;
    width: 90px;
  }
  mat-icon :hover{

  }
  .next:hover {
    color: rgb(218, 57, 57);
  }
