<div *ngIf="isDataLoaded" [ngClass]="productClass"> <!-- classes dynamique -->
    <div [ngClass]="containerClass">
        <ng-content select=".title"></ng-content> <!-- Emplacement pour les éléments, title -->
        <ng-content select=".image"></ng-content> <!-- Emplacement pour les éléments, image -->
    </div>
    <div class="button-area"></div>
          <mat-icon class="arrow prev" (click)="prev()">keyboard_arrow_left</mat-icon>
          <mat-icon class="arrow next" (click)="prev()">keyboard_arrow_right</mat-icon>
    </div>
