<div class="popup-container"
  [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original/' + (film?.backdrop_path ? film?.backdrop_path : film?.poster_path) + ')'}">
  <button class="close-button" (click)="onClosePopup()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="filtre">
    <div class="info">
      <h2>{{ film?.title }}</h2>
      <div title="Release year">{{ film?.release_date?.substring(0, 4) }}</div> <!--title pr le dialog au hover-->
      <div title="Vote average, on {{ film?.vote_count }} votes">{{ this.vote }}<span class="small-text">/5</span></div>
    </div>
    <div class="description">{{ film?.overview }}</div>
    <div class="buttons">
      <button mat-fab class="my-list-button"
        (click)="addFavorite(this.film)"
        [ngStyle]="{'cursor': (isFilmFav ? 'not-allowed' : 'initial'),
                    'background-color': (isFilmFav ? 'grey' : 'orange')}">
        <mat-icon>favorite</mat-icon>
      </button>
      <app-add-rating [rating]=this.vote [filmId]=this.film class="setting"></app-add-rating>
      <div class="suggestion-link" *ngIf="isSuggestionsDisplay">See <a routerLink="/suggestions">suggestions</a></div>
    </div>
  </div>
</div>