  mat-grid-list {
    height: 90vh !important;
  }
  
  mat-grid-tile img {
    margin-bottom: 3vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Cela permettra à l'image de remplir la tuile sans être déformée */
  }

  mat-grid-tile-footer {
    margin-bottom: 1.5vh;
    margin-left: 5vh;
  }
  