<div class="product">
  <div class="container-fluid">
    <h2>Similar movies of <span class="red-text">{{ film?.title }}</span></h2>
    <div class="item" *ngFor="let f of similarFilms">
      <img (click)="openFilmDetails(f)" [ngClass]="f" src="https://image.tmdb.org/t/p/original{{this.f.poster_path}}">
    </div>
  </div>
  <div class="button-area">
    <button type="button" class="prev" appPrev>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button type="button" class="next" appNext>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>

<app-film-clicked 
  class="overlay" 
  *ngIf="selectedFilm && popupIsVisible" 
  [film]="selectedFilm" 
  (closeDetails)="closeFilmDetails()" 
  (click)="onOverlayClick($event)"
  [ngClass]="overlayAnimation" 
  [ngStyle]="{'z-index': 2}"
></app-film-clicked>