<app-caroussel-generalisation [films]="similarFilms" [productClass]="'product-suggestion'" [containerClass]="'container-fluid-suggestion'">
  <h2 class="title">Similar movies of <span class="red-text">{{ film?.title }}</span></h2> <!--class title pour mettre le bon element dans la generalisation caroussel-->
  <div class="image item" *ngFor="let f of similarFilms"> <!--class image pour mettre le bon element dans la generalisation caroussel-->
    <img  (click)="openFilmDetails(f)" [ngClass]="f"
    src="https://image.tmdb.org/t/p/original{{ this.f.poster_path }}"/>
  </div>
</app-caroussel-generalisation>

<app-film-clicked 
  class="overlay" 
  *ngIf="selectedFilm && popupIsVisible" 
  [film]="selectedFilm" 
  (closeDetails)="closeFilmDetails()" 
  (click)="onOverlayClick($event)"
  [ngClass]="overlayAnimation" 
  [ngStyle]="{'z-index': 2}"
></app-film-clicked>