  .sidenav {
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: fixed;
    padding:6vw;
  }

  .logo img {
    padding-top: 2vh;
    width: 5vw;
    transition: transform 0.2s ease-in-out;
  }

  .logo img:hover {
    transform: scale(1.1);
  }

  .nav-pills a {
    color: rgb(180, 180, 180);
    text-decoration: none;
    /* Pour enlever le soulignement */
    font-size: 17px;
  }

  .nav-pills a:hover {
    text-decoration: underline;
  }

  .nav-pills li {
    margin-bottom: 9vh;
  }

  ul {
    padding-left: 0px;
    margin-top: 11vh;
  }

  .active {
    text-decoration: underline !important;
  }
