<mat-sidenav mode="side" opened class="sidenav">
  <a class="logo" routerLink="home"><img src="assets/logo.png"></a>
    <ul class="nav-pills flex-column mb-auto">
      <li><a routerLink="home" routerLinkActive="active">HOME</a></li>
      <li><a routerLink="suggestions" routerLinkActive="active">SUGGESTIONS</a></li>
      <li><a routerLink="favorites" routerLinkActive="active">MY FAVORITES</a></li>
      <li><a routerLink="ratings" routerLinkActive="active">MY RATINGS</a></li>
    </ul>
</mat-sidenav>
