  .sidenav {
    height: 100vh;
    text-align: center;
    overflow: hidden;
  }

  .custom-title img{
    padding-top: 2vh;
    width : 5vw;
    transition: transform 0.9s ease-in-out;
  }
.custom-title img:hover{
  transform: scale(1.2);
}
  .nav-pills a {
    color: rgb(180, 180, 180);
    text-decoration: none; /* Pour enlever le soulignement */
    font-size: 17px;
  }

  .nav-pills a:hover {
    text-decoration: underline;
  }

  .nav-pills li {
    margin-bottom: 9vh;
  }

  ul {
    padding-left: 0px;
    margin-top: 11vh;
  }

  .active {
    text-decoration: underline !important;
  }