<mat-sidenav mode="side" opened class="sidenav">
  <a class="logo" (click)="scrollToTop('logo')" routerLink="home"><img src="assets/logo.png"></a>
  <ul class="nav-pills flex-column mb-auto">
    <li><a (click)="scrollToTop('home')" routerLink="home" routerLinkActive="active">HOME</a></li>
    <li><a (click)="scrollToTop('suggestions')" routerLink="suggestions" routerLinkActive="active">SUGGESTIONS</a></li>
    <li><a (click)="scrollToTop('favorites')" routerLink="favorites" routerLinkActive="active">MY FAVORITES</a></li>
    <li><a (click)="scrollToTop('ratings')" routerLink="ratings" routerLinkActive="active">MY RATINGS</a></li>
  </ul>
</mat-sidenav>
