.container {
    display: flex;
    height: 100%;
    background: rgb(9 9 11);
}

.menu {
    max-width: 20%;
    border-right: solid 1px rgb(50, 50, 50);
}

.right-content {
    width: 80%;
}

app-menu {
    flex: 1; /* aligner */
}

app-header {
    height: 10vh;
    display: block;
}