.image-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4vw;
  row-gap: 2vh;
  padding: 3%;
}

.grid-item {
  flex-basis: calc(25% - 4%);
  /* 4 colonnes avec un espace de 10px entre les éléments */
  position: relative;
  height: 50vh;
}

.grid-item img {
  width: 15vw;
  height: 40vh;
  display: block;
  border-radius: 6px;
  border: solid 1px;
  border-color: rgba(198, 198, 198, 0.158);
}

.grid-item:hover img {
  transform: scale(1.03); /* Augmente légèrement la taille de l'élément au survol */
  transition: transform 0.2s; /* Ajoute une transition fluide pour l'effet */
  cursor: pointer;
}

.grid-item-footer {
  margin-top: 3%;
  color: rgba(180, 180, 180, 0.717);
}

.grid-item:hover .grid-item-footer {
  color: rgba(242, 242, 242, 0.717);; /* Couleur du texte plus clair au survol */
  transition: transform 0.2s; /* Ajoute une transition fluide pour l'effet */
}

.no-results {
  color: rgb(180, 180, 180);
  text-align: center;
  padding-top: 20vh;
  font-size: 1.2em;
  left: 50%;
  position: fixed;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 100%;
  height: 255vh;
  background-color: rgba(0, 0, 0, 0.7);
  /* Couleur de fond sombre semi-transparente */
}