<nav class="navbar bg-body-tertiar">
  <div class="container-fluid">
    <form class="d-flex custom-search-form" role="search" (ngSubmit)="onSearchSubmit()">
      <input class="form-control me-2 custom-search-input" type="search" placeholder="Search..." aria-label="Search" [(ngModel)]="query" name="searchQuery">
      <button class="btn btn-outline-success custom-search-button" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
          <path d="M9.66666 16.25C13.5787 16.25 16.75 13.0787 16.75 9.16665C16.75 5.25463 13.5787 2.08331 9.66666 2.08331C5.75464 2.08331 2.58333 5.25463 2.58333 9.16665C2.58333 13.0787 5.75464 16.25 9.66666 16.25Z" stroke="white" stroke-width="2"/>
          <path d="M15.5 15L18.4167 17.9167" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>    
    </form>
    <button class="btn btn-outline-light custom-info-button" (click)="OnInfoClicked()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="16" x2="12" y2="12"></line>
        <line x1="12" y1="8" x2="12" y2="8"></line>
    </svg>
    </button>
  </div>
</nav>