  .navbar {
    height: 70px;
    align-items: center;
    position: absolute;
  }

  .container-fluid {
    padding-top: 2vh;
    display: flex;
  }

  .custom-search-form {
    width: fit-content;
    display: flex;
    height: 40px;
    padding-left: 2vw;
  }

  .custom-search-input {
    width: 200px;
    border-radius: 7px 0 0 7px;
    background-color: #161616;
    color: aliceblue;
    padding-left: 10px;
    border: solid 1px rgb(55 55 55);
  }

  .custom-search-button {
    border-radius: 0 7px 7px 0;
    background-color: #161616;
    color: aliceblue;
    border: solid 1px rgb(55 55 55);
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }

  .custom-search-button:active {
    transform: scale(0.95);
    /* Réduit la taille du bouton au clic */
  }

  .custom-account-button {
    margin-left: 100vh;
    border: none;
    background: transparent;
    cursor: help;
  }

  .custom-account-button:hover {
    transform: scale(1.1);
  }

  .custom-account-button:active {
    transform: scale(0.95);
  }