
<div *ngIf="this.receivedData?.id !== 0">
<div  [style.background-image]="'url(https://image.tmdb.org/t/p/original' + this.receivedData?.backdrop_path + ')'" class ="container">
  <div class="card">
        <h2>{{this.receivedData?.title}}</h2>
        <p>{{this.receivedData?.overview}}</p>
     <div class="button">
       <button mat-fab [style.cursor]="isFilmFav ? 'not-allowed' : 'initial'"
               (click)="addFavorite(this.receivedData)">
         <mat-icon>favorite</mat-icon>
       </button>

      <app-add-rating [rating]=this.vote [filmId]=this.receivedData class="setting"></app-add-rating>
     </div>
  </div>

</div>
</div>


