/* You can add global styles to this file, and also import other style files */

html, body {
    margin : 0px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s;
  }
  
  .fade-out {
    animation: fadeOut 0.5s;
  }

  .red-text {
    color: rgb(218, 57, 57);
  }
  