<div class="popup-container"
  [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original/' + (film?.backdrop_path ? film?.backdrop_path : film?.poster_path) + ')'}">
  <button class="close-button" (click)="onClosePopup()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="filtre">
    <div class="info">
      <h2>{{ film?.title }}</h2>
      <div title="Release year">{{ film?.release_date?.substring(0, 4) }}</div>
      <div title="Vote average, on {{ film?.vote_count?.toFixed(0) }} votes">{{ film?.vote_average?.toFixed(1) }}
        <span class="small-text">/10</span></div>
    </div>
    <div class="description">{{ film?.overview }}</div>
    <div class="buttons">
      <button class="my-list-button" [ngStyle]="{'background-color': (isFilmFav ? 'red' : 'initial')}" 
        (click)="addFavorite(this.film)">+ MY LIST</button>
      
      <div class="rating-buttons">
        <div class="card rating-card">
          <div class="rating-card__front">
            <div class="rating-card__ratings">
              <button (click)="likeMovie(film)">1</button>
              <button (click)="likeMovie(film)">2</button>
              <button (click)="likeMovie(film)">3</button>
              <button (click)="likeMovie(film)">4</button>
              <button (click)="likeMovie(film)">5</button>
            </div>
            <div>
              <button class="rating-card__btn" (click)="likeMovie(this.film)">submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="suggestion-link" *ngIf="isSuggestionsDisplay">See <a routerLink="/suggestions">suggestions</a></div>
    </div>
  </div>
</div>