  section {
    padding: 2rem;
    margin-bottom: -2%;
  }

  h1 {
    padding: 2rem;
    color: white;
  }
  
  .feature {
    color: white;
  }

  .feature p {
    color: rgb(180, 180, 180);
  }

  .feature a {
    color: rgb(180, 180, 180);
  }