<h1>Features <span class="red-text">page</span></h1>

<section class="feature">
    <h2>1. Search for a <span class="red-text">Movie</span></h2>
    <p>You can type in the search bar to look for your movie.</p>
</section>

<section class="feature">
    <h2>2. View Details of a <span class="red-text">Movie</span></h2>
    <p>You can check detailed information (release date, description, rating) of a specific movie by clicking on it.</p>
</section>

<section class="feature">
    <h2>3. Get Movie <span class="red-text">Suggestions</span></h2>
    <p>Based on the movies you explore, we suggest similar films. You can find them in the <a routerLink="/suggestions">Suggestions</a> section.</p>
</section>

<section class="feature">
    <h2>4. Rate a <span class="red-text">Movie</span></h2>
    <p>You can rate a selected movie. All your ratings will be available in the <a routerLink="/ratings">Ratings</a> section.</p>
</section>

<section class="feature">
    <h2>5. List Your Favorite <span class="red-text">Movies</span></h2>
    <p>You can add a selected movie to your favorites. You will find all your favorite films in the <a routerLink="/favorites">Favorites</a> section.</p>
</section>